<div class="card-category-new" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1500835556837-99ac94a94552?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8dHJhdmVsfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=800&q=60)">
</div>
<div class="container p-4 mt-4">
  <h2 class="flighttitle">Out of town for a while? Enter your dates so we can support you 💪 <i class="fa-solid fa-plane-departure"></i></h2>
</div>
<div class="container p-4">
  <%= simple_form_for @trip do |f| %>
              <%= f.input :start_date, as: :date, html5: true, :label => "When does your trip start?" %>
              <%= f.input :end_date, as: :date, html5: true, :label => "When does your trip end?" %>
            <%= f.association :country, :label => "Where are you going?" %>
            <%= f.submit value: "Let's go!", class: 'btn taubenbutton' %>
          <% end %>
</div>
