
<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1467269204594-9661b134dd2b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80)">
  <h1>Your trip to <%=  @country.name %></h1>
  <h2>From <%= @trip.start_date.strftime("%A %e %m %Y") %></h2>
  <h2><%= @trip.end_date.strftime("%A %e %m %Y") %></h2>
</div>
<%# <%= @country.create_picture(@country.name) %> %>

<h3 class="text-center">Categories</h3>



<div class="cards-list">
  <div class="card 1">
    <div class="card_image"> <img src="https://images.unsplash.com/photo-1472851294608-062f824d29cc?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80" /> </div>
    <div class="card_title title-white">
      <p><%= link_to "Shopping", trip_category_path(@trip, @categories[0]) %></p>
    </div>
  </div>
  <div class="card 1">
    <div class="card_image"> <img src="https://images.unsplash.com/photo-1517400508447-f8dd518b86db?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjJ8fGFpcnBvcnR8ZW58MHx8MHx8&auto=format&fit=crop&w=800&q=60" /> </div>
    <div class="card_title title-white">
      <p><%= link_to "Aiport", trip_category_path(@trip, @categories[1]) %></p>
    </div>
  </div>
  <div class="card 1">
    <div class="card_image"> <img src="https://images.unsplash.com/photo-1466978913421-dad2ebd01d17?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTh8fGVhdGluZyUyMG91dHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=800&q=60" /> </div>
    <div class="card_title title-white">
      <p><%= link_to "Eating out", trip_category_path(@trip, @categories[2]) %></p>
    </div>
  </div>
  <div class="card 1">
    <div class="card_image"> <img src="https://images.unsplash.com/photo-1596633607590-7156877ef734?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80" /> </div>
    <div class="card_title title-white">
      <p><%= link_to "Greetings", trip_category_path(@trip, @categories[4]) %></p>
    </div>
  </div>
  <div class="card 1">
    <div class="card_image"> <img src="https://images.unsplash.com/photo-1553012781-b47b6751792c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80" /> </div>
    <div class="card_title title-white">
      <p><%= link_to "Directions", trip_category_path(@trip, @categories[5]) %></p>
    </div>
  </div>
  <div class="card 1">
    <div class="card_image"> <img src="https://images.unsplash.com/photo-1553012781-b47b6751792c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80" /> </div>
    <div class="card_title title-white">
      <p><%= link_to "More", trip_category_path(@trip, @categories[6]) %></p>
    </div>
  </div>
  <div class="card 1">
    <div class="card_image"> <img src="https://images.unsplash.com/photo-1542672701-783a62f67be4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80" /> </div>
    <div class="card_title title-white">
      <p><%= link_to "SOS", trip_category_path(@trip, @categories[3]) %></p>
    </div>
  </div>
</div>
