<%# This is to get the picture of the country in the banner %>
<% if @country.name == "Germany" %>
  <div class="card-category-new"style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1623345805581-b7b352e73705?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Njh8fGdlcm1hbnl8ZW58MHx8MHx8&auto=format&fit=crop&w=800&q=60)">
    <h2 class="trip-to">Your trip to <strong><%=  @country.name %></h2></strong>
    <h4>From <%= @trip.start_date.strftime("%A %e %m %Y") %></h4>
    <h4>Until <%= @trip.end_date.strftime("%A %e %m %Y") %></h4>
  </div>
<% elsif @country.name == "France" %>
  <div class="card-category-new"style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1502602898657-3e91760cbb34?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8cGFyaXN8ZW58MHx8MHx8&auto=format&fit=crop&w=800&q=60)">
    <h2 class="trip-to">Your trip to <strong><%=  @country.name %></h2></strong>
    <h4>From <%= @trip.start_date.strftime("%A %e %m %Y") %></h4>
    <h4>Until <%= @trip.end_date.strftime("%A %e %m %Y") %></h4>
  </div>
<% elsif @country.name == "Spain" %>
  <div class="card-category-new"style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1539037116277-4db20889f2d4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjJ8fHNwYWlufGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=800&q=60)">
    <h2 class="trip-to">Your trip to <strong><%=  @country.name %></h2></strong>
    <h4>From <%= @trip.start_date.strftime("%A %e %m %Y") %></h4>
    <h4>Until <%= @trip.end_date.strftime("%A %e %m %Y") %></h4>
  </div>
<% else %>
  <div class="card-category-new"style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1524850011238-e3d235c7d4c9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8dHJhdmVsbGluZ3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=800&q=60)">
    <h2 class="trip-to">Your trip to <%=  @country.name %></h2>
    <h4>From <%= @trip.start_date.strftime("%A %e %m %Y") %></h4>
    <h4>Until <%= @trip.end_date.strftime("%A %e %m %Y") %></h4>
  </div>
<% end %>
<div class="cards">
  <%= link_to trip_category_path(@trip, @categories[0]) do %>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1534452203293-494d7ddbf7e0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8c2hvcHBpbmd8ZW58MHx8MHx8&auto=format&fit=crop&w=800&q=60)">
  Shopping
  </div>
  <% end %>
  <%= link_to trip_category_path(@trip, @categories[1]) do %>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1517400508447-f8dd518b86db?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjJ8fGFpcnBvcnR8ZW58MHx8MHx8&auto=format&fit=crop&w=800&q=60)">
    Airport
  </div>
  <% end %>
  <%= link_to trip_category_path(@trip, @categories[2]) do %>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1466978913421-dad2ebd01d17?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTh8fGVhdGluZyUyMG91dHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=800&q=60)">
    Eating out
  </div>
  <% end %>
  <%= link_to trip_category_path(@trip, @categories[4]) do %>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1596633607590-7156877ef734?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80)">
    Greetings
  </div>
  <% end %>
  <%= link_to trip_category_path(@trip, @categories[5]) do %>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1553012781-b47b6751792c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80)">
    Directions
  </div>
  <% end %>
  <%= link_to trip_category_path(@trip, @categories[3]) do %>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1542672701-783a62f67be4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80)">
    SOS
  </div>
  <% end %>
</div>
