<%# This is to get the picture of the country in the banner %>

<% if @country.name == "Germany" %>
  <div class="card-category-new"style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1467269204594-9661b134dd2b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80)">
    <h1 class="trip-to">Your trip to <%=  @country.name %></h1>
    <h2>From <%= @trip.start_date.strftime("%A %e %m %Y") %></h2>
    <h2><%= @trip.end_date.strftime("%A %e %m %Y") %></h2>
  </div>
<% elsif @country.name == "France" %>
  <div class="card-category-new"style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1551865673-9e9ee4f8cd4c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8ZnJhbmNlfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=800&q=60)">
    <h1 class="trip-to">Your trip to <%=  @country.name %></h1>
    <h2>From <%= @trip.start_date.strftime("%A %e %m %Y") %></h2>
    <h2><%= @trip.end_date.strftime("%A %e %m %Y") %></h2>
  </div>
<% elsif @country.name == "Spain" %>
  <div class="card-category-new"style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1559386081-325882507af7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTZ8fHNwYWlufGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=800&q=60)">
    <h1 class="trip-to">Your trip to <%=  @country.name %></h1>
    <h2>From <%= @trip.start_date.strftime("%A %e %m %Y") %></h2>
    <h2><%= @trip.end_date.strftime("%A %e %m %Y") %></h2>
  </div>
<% else %>
  <div class="card-category-new"style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1524850011238-e3d235c7d4c9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8dHJhdmVsbGluZ3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=800&q=60)">
    <h1 class="trip-to">Your trip to <%=  @country.name %></h1>
    <h2>From <%= @trip.start_date.strftime("%A %e %m %Y") %></h2>
    <h2><%= @trip.end_date.strftime("%A %e %m %Y") %></h2>
  </div>
<% end %>
<br>
<div class="background-category">
  <div class="cards-list">
    <%= link_to trip_category_path(@trip, @categories[0]) do %>
      <div class="card 1">
        <div class="card_image"> <img src="https://images.unsplash.com/photo-1472851294608-062f824d29cc?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80" /></div>
        <div class="card_title">
          <p>Shopping</p>
        </div>
      </div>
    <% end %>
    <%= link_to trip_category_path(@trip, @categories[1]) do %>
      <div class="card 1">
        <div class="card_image"> <img src="https://images.unsplash.com/photo-1517400508447-f8dd518b86db?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjJ8fGFpcnBvcnR8ZW58MHx8MHx8&auto=format&fit=crop&w=800&q=60" /> </div>
        <div class="card_title">
          <p>Airport</p>
        </div>
      </div>
    <% end %>
    <%= link_to trip_category_path(@trip, @categories[2]) do %>
      <div class="card 1">
          <div class="card_title">
            <p>Eating out</p>
          </div>
        <div class="card_image"> <img src="https://images.unsplash.com/photo-1466978913421-dad2ebd01d17?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTh8fGVhdGluZyUyMG91dHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=800&q=60" /> </div>
      </div>
    <% end %>
    <%= link_to trip_category_path(@trip, @categories[4]) do %>
      <div class="card 1">
        <div class="card_image"> <img src="https://images.unsplash.com/photo-1596633607590-7156877ef734?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80" /> </div>
          <div class="card_title">
            <p>Greetings </p>
          </div>
      </div>
    <% end %>
    <%= link_to trip_category_path(@trip, @categories[5]) do %>
      <div class="card 1">
        <div class="card_image"> <img src="https://images.unsplash.com/photo-1553012781-b47b6751792c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80" /> </div>
          <div class="card_title">
            <p>Directions</p>
          </div>
      </div>
    <% end %>
    <%= link_to trip_category_path(@trip, @categories[6]) do %>
      <div class="card 1">
        <div class="card_image"> <img src="https://images.unsplash.com/photo-1553012781-b47b6751792c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80" /> </div>
          <div class="card_title">
            <p>More</p>
          </div>
      </div>
    <% end %>
    <%= link_to trip_category_path(@trip, @categories[3]) do %>
    <div class="card 1">
      <div class="card_image"> <img src="https://images.unsplash.com/photo-1542672701-783a62f67be4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80" /> </div>
        <div class="card_title">
          <p>SOS</p>
        </div>
    </div>
    <% end %>
  </div>
</div>
