<div class="container-fluid bg-light">
  <nav class="navbar navbar-reverse bg-light d-flex justify-content-between">
    <button class="back-button" type="button" onclick="javascript:history.back()"><i class="fa-solid fa-backward-step"></i></button>
    <a id="main" class="navbar-toggler" href="#" data-bs-toggle="collapse" data-bs-target="#Nav1"> <i class="fa-solid fa-magnifying-glass-plus"></i></a>
    <div></div>
  </nav>
  <nav class="collapse" id="Nav1">
    <div class="container-fluid d-flex justify-content-between">
        <a id="len4" class="clickable" href="/users/sign_in">></a>
         <%= link_to root_path do %>
          <i class="fa-solid fa-house"></i>
        <% end %>
        <%= link_to new_trip_path do %>
          <i class="fa-solid fa-paper-plane"></i>
        <% end %>
        <%= link_to dashboard_path do %>
          <i class="fa-solid fa-table-columns"></i>
        <% end %>
        <% if current_user %>
          <%= link_to destroy_user_session_path, data: {turbo_method: :delete}  do %>
            <i class="fa-solid fa-user"></i>
          <% end %>
        <% else %>
          <%= link_to new_user_session_path do %>
            <i class="fa-solid fa-user"></i>
          <% end %>
        <% end %>
    </div>
  </nav>
</div>
