<%= @category.name %>
<%= @trip.country.name %>

<% if @tips.empty? %>
<h2> IN PROGRESS </h2>
<% else %>
<h2><%= @tips.sample.content %></h2>
    <h2>Phrases:</h2>
    <div class="flipcards-container">
      <% @phrases.each do |phrase| %>
      <div class="favorite">

<%= link_to "❤️", favorites_path(phrase: phrase), data: {turbo_method: :post}, notice: "The phrase was added in your favorites" %>

      </div>
      <div class="scene">
        <div class="flipcard" data-controller="flip-phrases" data-action="click->flip-phrases#flipPhrase" data-flip-phrases-target="flipcard">
          <div class="flipcard__face flipcard__face--front">
            <p class="flipcard-text"><%= phrase.content %></p>
          </div>
          <div class="flipcard__face flipcard__face--back">
            <p class="flipcard-text"><%= PhraseCountry.where(country: @country).and(PhraseCountry.where(phrase: phrase)).first.content %></p>
          </div>
        </div>
      </div>
      <% end %>
    </div>
<% end %>
