<%= @category.name %>
<%= @trip.country.name %>

<% if @tips.empty? %>
<h2> IN PROGRESS </h2>
<% else %>
<h2><%= @tips.sample.content %></h2>
<% end %>
    <h2>Phrases:</h2>

<div class="tips-container" data-controller="change-tip" data-change-tip-tips-value="<%= @tips.map(&:content) %>" >

<button data-action="click->change-tip#changeTip">CLICK ME</button>

<h3 data-change-tip-target="tip"><%= @tips.sample.content %></h3>
<%# <h3 data-change-tip-target="tip2" style="display-hidden"><%= @tips.sample.content</h3> %>

</div>
    <h2 id="title-flipcards">Phrases:</h2>
>>>>>>> c30c27570e961e4350f4af9b1739cb17b479fb0b
    <div class="flipcards-container">
      <% @phrases.each do |phrase| %>
      <div class="flipcard-container">
        <div class="scene">
          <div class="flipcard" data-controller="flip-phrases" data-action="click->flip-phrases#flipPhrase" data-flip-phrases-target="flipcard">
            <div class="flipcard__face flipcard__face--front">
              <p class="flipcard-text"><%= phrase.content %></p>
            </div>
            <% if PhraseCountry.where(country: @country).and(PhraseCountry.where(phrase: phrase)).first.nil? %>
            <div class="flipcard__face flipcard__face--back">
              <p class="flipcard-text">WORK IN PROGRESS</p>
            <div class="favorite">
            <%= link_to "❤️", favorites_path(phrase: phrase), data: {turbo_method: :post}, notice: "The phrase was added in your favorites" %>
            </div>
            </div>
            <% else %>
            <div class="flipcard__face flipcard__face--back">
              <p class="flipcard-text"><%= PhraseCountry.where(country: @country).and(PhraseCountry.where(phrase: phrase)).first.content %></p>
            <div class="favorite">
            <%= link_to "❤️", favorites_path(phrase: phrase), data: {turbo_method: :post}, notice: "The phrase was added in your favorites" %>
            </div>
            </div>
          </div>
            <% end %>
      </div>
      </div>
    </div>
<% end %>
<% end %>
